### Import the required libraries and scrape table from wikipedia

In [2]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

response = get(url)

soup = BeautifulSoup(response.text, "html.parser")
canada_wiki = soup.find('table', class_ = 'wikitable sortable')

#### Find all rows and copy the text to a new dataframe 
After creating the dataframe assign the columns names and clean the dataframe

In [3]:
rows = canada_wiki.findAll('tr')
l = []
for td in rows:
    cols = td.find_all('td')
    row = [col.text for col in cols]
    l.append(row)
c_t = pd.DataFrame(l , columns = ['Postcode' , 'Borough', 'Neighbourhood'])
c_t = c_t.replace('\n','', regex=True)
c_t.head()

  Postcode       Borough     Neighbourhood
0     None          None              None
1      M1A  Not assigned      Not assigned
2      M2A  Not assigned      Not assigned
3      M3A    North York         Parkwoods
4      M4A    North York  Victoria Village

#### Ignoring all cells that are not assigned in Borough

In [ ]:
ct = c_t[c_t['Borough'] != 'Not assigned']
ct.drop(ct.index[0], inplace=True)
ct.head()

##### reseting the index

In [32]:
ct = ct.reset_index()
ct.head()

   index Postcode           Borough     Neighbourhood
0      3      M3A        North York         Parkwoods
1      4      M4A        North York  Victoria Village
2      5      M5A  Downtown Toronto      Harbourfront
3      6      M5A  Downtown Toronto       Regent Park
4      7      M6A        North York  Lawrence Heights

###### Droping the index column after reseting the dataframe index

In [ ]:
ct.drop(['index'] , axis = 1 , inplace=True)

In [48]:
ct.head(7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park

##### Assigning the cell that have a Neighbourhood Not assigned with the same as the borough

In [47]:
ct['Neighbourhood'][6] = 'Queen\'s Park'

Printing out the shape of the dataframe

In [50]:
ct.shape

(212, 3)